.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    column-gap: 20px;

    background-color: lightgray;

}
.d1{
background-color: tomato;
}
.d2{
background-color: aqua;
justify-self: center;
}
.d3{
background-color: blueviolet;
align-self: end;
}
.d4{
background-color: chocolate;
}
.d5{
background-color:cadetblue;
}
