.container{
        display: grid;
        grid-template-columns: 100px 100px 100px;
      
}

.d1{
    background-color: tomato;
}
.d2{
    background-color: aqua;
}
.d3{
    background-color: blueviolet;
}
.d4{
    background-color: chocolate;
}
.d5{
    background-color:cadetblue;
}

